<wa-card with-image with-footer with-header class="card-overview">
  <img [src]="overlay()?.preview || ''"
       [alt]="(overlay()?.name || 'Overlay') + '\'s Layout'"
       class="rounded"
       slot="image"/>

  <div slot="header">
    <b>{{ overlay()?.name || 'Overlay' }}'s Layout</b>
  </div>

  <div class="tags">
    <wa-tag variant="brand" appearance="filled">
      {{ getOverlayCreator() }}
    </wa-tag>
  </div>

  <div slot="footer" class="flex justify-center">
    <a [routerLink]="['/overlays', overlay()?.id]"
       routerLinkActive="active"
       (click)="changeLayout()"
       ariaCurrentWhenActive="page">
      <wa-button variant="brand" pill>Ver overlay</wa-button>
    </a>
  </div>
</wa-card>
