<footer class="border-t py-8 border-sleepy-light-border dark:border-sleepy-dark-border bg-sleepy-light-bg-surface dark:bg-sleepy-dark-bg-surface">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <p class="text-sleepy-light-text-secondary dark:text-sleepy-dark-text-secondary">
        © 2025 Sleepy Zuzki. Todos los derechos reservados.
      </p>
      <div class="flex gap-4 mt-4 md:mt-0">
        <app-link [externalIcon]="faGithub"
                  [pageRef]="'https://github.com/sleepy-zuzki'"
                  [showExternalIcon]="true"
                  externalIconSize="2xl">
        </app-link>
        <app-link [externalIcon]="faTwitch"
                  [pageRef]="'https://twitch.tv/sleepy_zuzki'"
                  [showExternalIcon]="true"
                  externalIconSize="2xl">
        </app-link>
        <app-link [externalIcon]="faXTwitter"
                  [pageRef]="'https://x.com/sleepy_zuzki'"
                  [showExternalIcon]="true"
                  externalIconSize="2xl">
        </app-link>
      </div>
    </div>
  </div>
</footer>
